.hero-img{
          width:100%;
          background-color: rgba(0,0,0,0.5);
          height: 60vh;
          position: relative;
}

.heading{
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
}

.hero-img::before{
          content: "";
          background-image: url('../assets/project.jpg');
          background-size: cover;
          background-position: center top;
          width:100%;
          height: 100%;
          position: absolute;
          top:0;
          left:0;
          z-index: -1;
}

.hero-img h1{
          font-size: 2.4rem;
          color: aliceblue;
}

.hero-img p {
          font-size: 1.4rem;
          text-align: center;
          color: aliceblue;
}

@media screen and(max-width:640px) {
          .hero-img h1{
                    font-size: 1.2rem;
          }
          
}